@charset "utf-8";
/* CSS Document */

html,body{
	height: 100%;	/* Must use the entire webpage */
	margin: 0px;
}

.logo{				/* Car logo in the header */
	float: left;
	height: 100px;
	width: 140px;
}

.carCorp{					/* Website name */
	text-align: center;
	font-family: helvetica;
	margin-top: 5px;
}

.slogan{					/* Website slogan */
	font-size: 20px;
}

body{
	display: flex;		/* Make the body tag a flexbox which allows me to use flex properties */
	flex-direction: column;		/* Makes everything go down vertically */
	margin-left: 0px; 		/* Leaves no gap between the side of the screen and the sidebar */
}

header{			/* Website header */									
	background-color: rgba(158, 158, 158, 1.00);
}

.sidebar{				/* Website sidebar */
	position: fixed;	/* Keeps it in place */
	top: 0px;
	left: -200px;		/* Makes the sidebar not appear on screen */
	width: 200px;		/* Sidebar width when it does appear */
	height: 100%;		/* Sidebar height when it does appear */
	margin-top: 160px;
	background-color: rgba(229,229,232,1.00);
	transition: left 0.3s ease;		/* Sidebar will ease onto screen from the left and which will take 0.3 seconds */
}

/* When the sidebar has class "sidebar" and class "open" the left attribute will change from -200px to 0px which will make the sidebar appear on screen */
.sidebar.open{			
	left: 0px;
}

.sidebarLinks{			/* The buttons on the sidebar */
	padding-top: 50px;
}

button{
	width: 100%;
	padding: 20px;
	font-size: 15px;
	background-color: rgba(234,234,237,1.00);
	border-width: 1px;
}

#sidebarClose{			/* The button that opens and closes the sidebar */
	width: 200px;
	background-color: rgba(190, 190, 190, 1.00);
	position: fixed;
}

#allCarsButton{			/* The All Cars button */
	border-top: none;
	border-bottom: none;
}

main{				
	flex-grow: 1;	/* Grows to fill all the extra space so that the footer doesn't move */
}

section{
	text-align: center;
}

.heading{			/* The main heading of the webpage */
	font-size: 40px;
}

.subHeading1, .subHeading2{		/* If a heading has either of these classes */
	font-size: 30px;
	color: #444444;
}

.subHeading2{
	padding-top: 40px;
}

p{							
	font-size: 20px;
	text-align: left;
	padding-left: 250px;
	padding-right: 250px;
}

.carImage{			/* Adjust the sizing of the car images  */	
	width: 400px;
	height: 250px;
}

figure{					/* Centers the car images */
	text-align: center;
}

footer{						/* Website footer */
	text-align: center;
	padding: 10px;
	bottom: 0px;
	background-color: #008080;
	flex-shrink: 0;		/* The footer won't shrink when the main tag grows to fill the space */
}